.vscode
.idea
cmake-build-debug
cmake-build-release
cmake
build
generated/*
!generated/.gitkeep
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
*.cmake
*.o
*.so
*.a
*.dylib
*.exe
*.dll
*.obj
*.pdb
*.lib
*.log
*.out
*.tmp
*.swp
*.bak
*.class
*.jar
*.ssh
*.pub
.DS_Store
